html, body {
    height: 100%;
    text-rendering: optimizeLegibility;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1012px;
}

.hero {
    align-items: stretch;
    background: #fff;
    border-bottom: thin solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

canvas {
    opacity: 0.9;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.hero-nav, .hero-body {
    flex-grow: 1;
    flex-shrink: 0;
}

.hero-nav {
    padding: 0.5rem 0;
    z-index: 2;
}

.hero-body {
    padding: 0.5rem 1rem 2rem;
    z-index: 1;
}

.content {
    padding: 3rem 0rem;
}