body {
    color: #FFFFFF;
    margin: 0;
}

#particles-js {
    background-color: #104A34;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}