html, body {
    height: 100%;
    text-rendering: optimizeLegibility;
}

.hero {
    width: 100%;
    /* background: linear-gradient(160deg, #81a7f1, #1e60e5); */
    background: #fff;
    border-bottom: thin solid black;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

canvas {
    opacity: 0.9;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.hero-nav {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1.5rem 0;
}

.hero-body {
    padding: 1rem 1.5rem 4rem;
    flex-grow: 1;
    flex-shrink: 0;
}

.hero-nav, .hero-body {
    z-index: 1;
}

main {
    padding: 3rem 1.5rem;
}