html, body {
    height: 100%;
    background: #fff;
}

.hero {
    width: 100%;
    background: linear-gradient(160deg, #082f3b, #04282f);
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#particles-js {
    position: absolute;
}

canvas {
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.hero-nav {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1.5rem 0;
}

.hero-body {
    padding: 1rem 1.5rem 4rem;
    flex-grow: 1;
    flex-shrink: 0;
}

.hero-nav, .hero-body {
    z-index: 1;
}

#title {
    background: rgba(0, 0, 0, 0);
}