{% extends 'mysite/base.html' %}

{% block title %}
Polls
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block content %}
<div>
    <h1>Create a poll.</h1>
    <hr>
    <form>
        <div class="form-group">
            <label class="col-form-label" for="formGroupExampleInput">Question</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
        </div>
        <div class="form-group">
            <label class="col-form-label" for="formGroupExampleInput2">Possible Answers</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Answer 1">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Answer 2">
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Answer 3">
        </div>
    </form>
</div>
{% endblock %}