{% extends 'mysite/base.html' %}

{% block title %}
Polls
{% endblock %}

{% block subtitle %}
<blockquote class="blockquote">
    <p class="mb-1">{{ quote.content }}</p>
    <footer class="blockquote-footer"><cite title="{{ quote.author }}">{{ quote.author }}</cite></footer>
</blockquote>
{% endblock %}

{% block content %}
<script>
    var choiceCount = 2;
    function addChoice(divId) {
        choiceCount++;
        var newChoice = document.createElement('div');
        newChoice.className += 'input-group mb-2';
        newChoice.id = String(choiceCount);
        newChoice.innerHTML = '<input type="text" class="form-control" placeholder="Enter choice" aria-label="Enter choice" aria-describedly="basic-addon2"><span class="input-group-addon close" id="basic-addon2" onClick="removeChoice(' + String(choiceCount) +')">&times;</span>'
        document.getElementById(divId).appendChild(newChoice);
    }
    function removeChoice(choiceId) {
        if (choiceCount <= 2) return null;
        choiceCount--;
        var choice = document.getElementById(String(choiceId));
        document.getElementById('choices').removeChild(choice);
    }
</script>
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="mb-4">Create a new poll</h2>
            <form>
                <div class="form-group mb-4">
                    <label for="exampleInputEmail1">Question</label>
                    <input type="text" class="form-control" id="question" aria-describedby="Question" placeholder="Enter question">
                </div>
                <div class="form-group mb-4" id="choices">
                    <label for="exampleInputPassword1">Choices</label>
                    <div class="input-group mb-2" id="1">
                        <input type="text" class="form-control" placeholder="Enter choice" aria-label="Enter choice" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group mb-2" id="2">
                        <input type="text" class="form-control" placeholder="Enter choice" aria-label="Enter choice" aria-describedby="basic-addon2">
                    </div>
                </div>
                <div type="button d-inline" onClick="addChoice('choices')"class="btn btn-secondary">Add a choice</div>
                <button type="submit" class="btn btn-primary float-right">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}